footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    margin-bottom: 0;
    width: 97.4%;
  }
.body2{
    font-size: 150%;
    line-height: 170%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 100%;
}
h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 40px;
}
img{
    width: 100%;
}